# SPDX-FileCopyrightText: Copyright 2022 Arm Limited and/or its affiliates
# SPDX-License-Identifier: CC-BY-SA-4.0

# Require an Admin to approve any PR targeting any file in this branch
*      @athoelke @ndevillard
